
/* Header css */
.class9{
    background-color:bisque ;
}
.class9-1{
    text-align: center;
    padding: 0 450px;
}

.class9-2{
    font-size: 50px;
}

.class9-3{
    display: flex;
    padding: 0 150px;
    
}

#image3{
    background-color:aquamarine;
    padding-bottom: 26.3px;
}


.mar1{
    margin: 80px;
}






.class1{
    display: flex;
    height: 800px;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    
}
.class2{
    max-width: 70%;
    padding: 120px 140px;

}

.class3{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.buttom-primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    border: 0;
}

.flower1{
    width: 435px;
    height: 750px;
    flex-shrink: 0;
    padding: 50px 70px;
}






/* Main Css Style */

.class4{
    text-align: center;
    padding: 100px 450px 35px 450px;
}

.class5{
    display: flex;
    text-decoration: underline;
    text-align: center;
    padding: 0 230px 0 230px;
    
    
}

.class5-1{
    background-color: bisque;
    padding-top: 220px;
    width: 310px;
    height: 430px;
    margin-right: 20px;
    border-radius: 150px 150px 0px 0px;
    
}

.class5-2{
    background-color:rgb(155, 198, 183) ;
    padding-top: 150px;
    width: 310px;
    height: 500px;
    margin-right: 20px;
    border-radius: 150px 150px 0px 0px;

    
}

.class5-3{
    background-color:darkseagreen ;
    padding-top: 180px;
    width: 310px;
    height: 470px;
    border-radius: 150px 150px 0px 0px;
}

div div> p{
    align-items: center;
    
}


.class6{
    display: flex;
    background-color:rgb(242, 242, 236);
    justify-content: space-around;
    height: 500px;
    margin-top: 100px;
}

.class6-1{
    padding: 100px 250px;
    max-width: 50%;
    text-align: center;
    
}

.class6-2{
    padding-right: 200px;
    padding-top: 50px;
}

.class6-1-1
{
    color: #272727;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

span{
    color:crimson ;
}
.class6-3{
    display: block;
}




/* Instagram */

.class7{
    margin-top: 150px;
}

.class7-1{
    text-align: center;
    
}

.class7-1-1{
    
    text-align: center;
    padding: 0 480px;
}

.class7-2{
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    
}

.class7-2-1{
    width: 300px;
    height: 396px;
}

.class7-3{
    text-align: center;
    margin-top: 70px;
}

#id1{
    height: 50px;
    width: 700px;
    margin-top: 50px;
}


.class7-3{
    background-image: url('../Image/Rectangle\ 9.png');
    height: 400px;
    padding-top: 70px;
    background-repeat: no-repeat;
    border-radius: 0;
    margin: 50px 67px;
}




/* footer style */

.class8-0{
    
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
   
   
}


.class8-1{
    color: #E55473;
}

.class8{
    text-align: center;
    margin-bottom: 30px;
    padding: 0 450px;
}

.class8-3{
    padding: 0 540px;
}


.class8-11{
    background-color: #111010;
    width: 1400px;
    height: 300px;
    color: white;
    padding-top: 40px;
}