
/* Header css */

.class1{
    display: flex;
    height: 800px;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    
}
.class2{
    max-width: 70%;
    padding: 120px 140px;

}

.class3{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.buttom-primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    border: 0;
}

.flower1{
    width: 435px;
    height: 750px;
    flex-shrink: 0;
    padding: 50px 70px;
}






/* Main Css Style */

.class4{
    text-align: center;
    padding: 100px 450px 35px 450px;
}

.class5{
    display: flex;
    text-decoration: underline;
    text-align: center;
    padding: 0 230px 0 230px;
    
    
}

.class5-1{
    background-color: bisque;
    padding-top: 220px;
    width: 310px;
    height: 430px;
    margin-right: 20px;
    border-radius: 150px 150px 0px 0px;
    
}

.class5-2{
    background-color:rgb(155, 198, 183) ;
    padding-top: 150px;
    width: 310px;
    height: 500px;
    margin-right: 20px;
    border-radius: 150px 150px 0px 0px;

    
}

.class5-3{
    background-color:darkseagreen ;
    padding-top: 180px;
    width: 310px;
    height: 470px;
    border-radius: 150px 150px 0px 0px;
}

div div> p{
    align-items: center;
    
}


.class6{
    display: flex;
    background-color:rgb(242, 242, 236);
    justify-content: space-around;
    height: 500px;
    margin-top: 100px;
}

.class6-1{
    padding: 100px 250px;
    max-width: 50%;
    text-align: center;
    
}

.class6-2{
    padding-right: 200px;
    padding-top: 50px;
}

.class6-1-1
{
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

span{
    color:crimson ;
}
.class6-3{
    display: block;
}